
<div class="example-wrapper container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-12 example-col">
      <p>Splitter</p>
      <kendo-splitter orientation="horizontal" style="height: 360px;">
        <kendo-splitter-pane size="30%" min="20%">
          <p>PanelBar</p>
          <kendo-panelbar>
            <kendo-panelbar-item title="Transaction menu">
              <kendo-panelbar-item title="Todo"></kendo-panelbar-item>
            </kendo-panelbar-item>
          </kendo-panelbar>
        </kendo-splitter-pane>

        <kendo-splitter-pane min="40%">
          <p>TabStrip</p>
          <kendo-tabstrip>
            <kendo-tabstrip-tab [title]="'TodoList'" [selected]="true">
              <ng-template kendoTabContent>
                <app-home></app-home>
              </ng-template>
            </kendo-tabstrip-tab>
            <kendo-tabstrip-tab [title]="'TodoCreate'">
              <ng-template kendoTabContent>
                <p>
                  Basketball is a sport that is played by two teams of five players on a rectangular court. The objective is to shoot a ball through a hoop 18 inches (46 cm) in diameter and mounted at a height of 10 feet (3.048 m) to backboards at each end of the court. The game was invented in 1891 by Dr. James Naismith, who would be the first basketball coach of the Kansas Jayhawks, one of the most successful programs in the game's history.
                </p>
              </ng-template>
            </kendo-tabstrip-tab>
            <kendo-tabstrip-tab [title]="'TodoUpdate'">
              <ng-template kendoTabContent>
                <p>
                  Football is a family of team sports that involve, to varying degrees, kicking a ball with the foot to score a goal. Unqualified, the word football is understood to refer to whichever form of football is the most popular in the regional context in which the word appears.
                </p>
              </ng-template>
            </kendo-tabstrip-tab>
          </kendo-tabstrip>
        </kendo-splitter-pane>
      </kendo-splitter>
    </div>
  </div>
</div>
